In [1]:
#function
def abc(value):
    new_value = value **2
    print(new_value)

In [2]:
abc(2)

4

In [81]:
def abc2 (value1,value2):
    check = value1 ** value2
    check2 = value2 ** value1
    return check+check2

In [83]:
abc2(2,3)

17

In [5]:
new_val = 10

In [6]:
def square (value):
    new_val = value **2
    return(new_val)

In [13]:
square(2)

4

In [88]:
new_val = 10
def values(value):
    new_value2 = new_val**2
    return new_value2*value

In [90]:
values(4)

400

In [91]:
new_val = 15
values(4)

900

In [12]:
def mod2plus5 (x1, x2, x3):
    def inner(x):
        return x % 2+5
    return(inner(x1), inner(x2),inner(x3))

print(mod2plus5(1,2,3))

(6, 5, 6)

In [14]:
def outer ():
    n = 1
    def inner ():
        nonlocal n
        n = 2
        print(n)
    inner()
    print(n)

In [15]:
outer()

2
2

In [102]:
def add_all(*args):
    '''sum all value in *args together'''
    sum_all = 0
    for i in args:
        sum_all += i
    return sum_all

In [104]:
add_all(10,20,50)

80

In [136]:
def print_all(**kwargs):
    #print out key-value pairs
    for key, value in kwargs.items():
        print(key+": "+ str(value))

In [137]:
print_all(name="deepak",job="analyst", age= 34)

name: deepak
job: analyst
age: 34

In [20]:
def add_all(*args):
    #initialize sum
    sum_all = 0
    #accum
    for num in args:
        sum_all += num
    return sum_all

In [22]:
add_all(5,6,12)

23

In [130]:
#kwargs
def print_all(**kwargs):
    for key, value in kwargs.items():
        print(key + ": " + value)

In [131]:
print_all(name="dumbledore", job = "headmaster")

name: dumbledore
job: headmaster

In [28]:
# Define the function shout
def shout():
    shout_word = 'congrats' + '!!!'
    print(shout_word) #print shout

shout()

congrats!!!

In [33]:
# Define shout with parameters word1 and word2
def shout (word1, word2):
    # concatenate word1 with '!!!': shout1
    shout1 = word1 + '!!!'
    shout2 = word2+ '!!!'
    new_shout = shout1+ shout2
    return new_shout

shout('dee', 'pak')

'dee!!!pak!!!'

In [34]:
yell = shout('congrats','you')
yell

'congrats!!!you!!!'

In [36]:
#num1, num2,num3 = nums
#even_nums = (2,num2,num3)
#Function that return multiple values
# Define shout_all with parameters word1 and word2

def shout_all (word1, word2):
    shout1 = word1 + '!!!'
    shout2 = word2 + '!!!'
    shout_words = (shout1,shout2)
    return shout_words

In [38]:
yell1,yell2 = shout_all('congrats','you')
print(yell1)
print(yell2)

congrats!!!
you!!!

In [60]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/akjadon/HH/master/Python/DS_tutorial_trn/6.Python%20Data%20Science%20Toolbox%20pt1_fxn/tweets.csv',sep = ',')
df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [49]:
langs_count = {}

In [59]:
df.lang.value_counts()

en     97
und     2
et      1
Name: lang, dtype: int64

In [50]:

col = df['lang']
for entry in col: # Iterate over lang column in DataFrame
    if entry in langs_count.keys(): # If the language is in langs_count, add 1
        langs_count[entry]+=1
    else:
        langs_count[entry]= 1

In [52]:
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [84]:
def count_entries(df, col_name):
    """Return a dictionary with counts of occurrences as value for each key."""
    langs_count= {}
    col = df[col_name]
    for entry in col:
        if entry in langs_count.keys():
            langs_count[entry]+=1
        else:
            langs_count[entry]=1
    return langs_count

In [73]:
result = count_entries(df,'lang')
print(result)

{'en': 97, 'et': 1, 'und': 2}

In [139]:
#Chapter 2 Default arguments, variable-length arguments and scope
team = "teen titans"
def change_team():
    """Change the value of the global variable team."""
    global team
    team = "justic league"
    print(team)

In [144]:
#Chapter 2 Default arguments, variable-length arguments and scope
team = "teen titans"
def change_team():
    """Change the value of the global variable team."""
    global team
    team = "justic league"
    return team

In [146]:
change_team()

'justic league'

In [157]:
#Nested Functions I
def three_shouts(w1,w2,w3):
    def inner(w):
        return w + '!!!'
    return (inner(w1),inner(w2),inner(w3))

In [158]:
three_shouts('a','b','c')

('a!!!', 'b!!!', 'c!!!')

In [168]:
#Nested Functions II
def echo(n):
    def inner_echo(w1):
        echo_1 = w1*n +n
        return echo_1
    return inner_echo(n)

In [169]:
twice = echo(2)
thrice = echo(3)

twice,thrice

(6, 12)

In [194]:
#The keyword nonlocal and nested functions
def echo_shout(w):
    echo_word =  w*2
    print(echo_word)
    def shout():
        nonlocal echo_word #preserv new value
        echo_word = echo_word + '!!!'
        print(echo_word)
    shout()
    print(echo_word)

In [195]:
echo_shout("hello")

hellohello
hellohello!!!
hellohello!!!

In [196]:
#Functions with one default argument
# Define shout_echo
def shout_echo(w1, echo=1):
    echo_word = w1*echo
    shout_word = echo_word + '!!!'
    return shout_word

In [209]:
no_echo = shout_echo("Hey")
with_echo = shout_echo("Hey", echo=5)
print(no_echo)
print(with_echo)

Hey!!!
HeyHeyHeyHeyHey!!!

In [210]:
#Functions with multiple default arguments
# Define shout_echo
def shout_echo(w1,echo=1,intense = False):
    echo_word = w1*echo
    if intense == True:
        echo_word_new = echo_word.upper() +  '!!!'
    else:
        echo_word_new = echo_word + '!!!'
    return echo_word_new

In [212]:
with_big_echo = shout_echo("Hey",echo = 5, intense = True)
big_echo = shout_echo("Hey",echo = 5, intense = False)
big_no_echo = shout_echo("Hey", intense = True)
print(with_big_echo)
print(big_no_echo)
print(big_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!
HeyHeyHeyHeyHey!!!

In [222]:
#Function with variable-length arguments (*args)
def gibberish(*args):
    hodge=""
    for word in args:
        hodge +=word
    return hodge

In [224]:
oneword = gibberish("luke")
manyword = gibberish("luke", "leia", "han", "obi", "darth")
print(oneword)
print(manyword)

luke
lukeleiahanobidarth

In [226]:
#Function with variable-length keyword arguments (**kwargs)
def report_status(**kwargs):
    print("\nBEGIN: REPORT\n")
    for key, value in kwargs.items():
        print(key+": "+value)
    print("\nEND: REPORT\n")

In [227]:
report_status(name="luke",aff = "jedi",status="missing")

BEGIN: REPORT

name: luke
aff: jedi
status: missing

END: REPORT

In [228]:
report_status(name="anakin", affiliation="sith lord", status="decease")

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: decease

END: REPORT

In [229]:
#Bringing it all together 
def count_entries(df,col_name = 'lang'):
    col_count ={}
    col = df[col_name]
    for entry in col:
        if entry in col_count.keys():
            col_count[entry] += 1
        else:
            col_count[entry] =1
    return col_count

In [232]:
result1 = count_entries(df,'lang')
result2 = count_entries(df,'source')
print(result1)

{'en': 97, 'et': 1, 'und': 2}

In [234]:
def count_entries2(df,*args):
    cols_count = {}
    for col_name in args:
        col=df[col_name]
        for entry in col:
            if entry in cols_count.keys():
                cols_count[entry] += 1
            else:
                cols_count[entry] = 1
    return cols_count

In [236]:
results = count_entries2(df,'lang','source')
print(results)

{'en': 97, 'et': 1, 'und': 2, '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>': 24, '<a href="http://www.facebook.com/twitter" rel="nofollow">Facebook</a>': 1, '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>': 26, '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>': 33, '<a href="http://www.twitter.com" rel="nofollow">Twitter for BlackBerry</a>': 2, '<a href="http://www.google.com/" rel="nofollow">Google</a>': 2, '<a href="http://twitter.com/#!/download/ipad" rel="nofollow">Twitter for iPad</a>': 6, '<a href="http://linkis.com" rel="nofollow">Linkis.com</a>': 2, '<a href="http://rutracker.org/forum/viewforum.php?f=93" rel="nofollow">newzlasz</a>': 2, '<a href="http://ifttt.com" rel="nofollow">IFTTT</a>': 1, '<a href="http://www.myplume.com/" rel="nofollow">Plume\xa0for\xa0Android</a>': 1}

In [238]:
#lambda -small anonymous function.
raise_power = lambda x,y: x**y
raise_power(2,3)

8

In [241]:
raise_power (3,5)

243

In [243]:
nums = [48,6,9,1,3]
square_all = map (lambda x: x**2, nums)  #map(function,seq)

In [246]:
print(list(square_all))

[2304, 36, 81, 1, 9]

In [247]:
echo_word = (lambda w1,echo: w1*echo)
print(echo_word('hey',5))

heyheyheyheyhey

In [248]:
#map and lambda function
spells = ['protego', 'accio', 'expecto patronum', 'legilimens']
shout_spells = map(lambda item: item +'!!!', spells)
shout_spells_list = list(shout_spells)

In [249]:
print(shout_spells_list)

['protego!!!', 'accio!!!', 'expecto patronum!!!', 'legilimens!!!']

In [250]:
#Filter() and lambda functions
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir']
result = filter(lambda member: len(member)>6, fellowship)
result_list = list(result)
print(result_list)

['samwise', 'aragorn', 'legolas', 'boromir']

In [251]:
#Reduce() and lambda functions #ANIL
from functools import reduce
stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']

result = reduce(lambda item1, item2: item1+item2, stark)
print(result)

robbsansaaryaeddardjon

In [252]:
#Error handling with try-except
def shout_echo(word1, echo=1):
    echo_word = ''
    shout_words = ''
    try:
        echo_word = word1*echo
        shout_words = echo_word + '!!!'
    except:
        print("word1 must be string and echo must be integer.")
    return shout_words

In [253]:
shout_echo("particle", echo="accelerator")

word1 must be string and echo must be integer.

''

In [258]:
#Error handling with try-except
def shout_echo(word1, echo=1):
    if echo <0:
        raise ValueError('echo must be greater than 0')
    echo_word = word1*echo
    shout_words = echo_word + '!!!'
    return shout_words

In [260]:
shout_echo("particle", echo=0)

'!!!'

In [267]:
#Bringing it all together (1)
result = filter(lambda x: x[0:2] =='RT',df['text'])
for tweet in list(result):
    print(tweet)

RT @bpolitics: .@krollbondrating's Christopher Whalen says Clinton is the weakest Dem candidate in 50 years https://t.co/pLk7rvoRSn https:/â€¦
RT @HeidiAlpine: @dmartosko Cruz video found.....racing from the scene.... #cruzsexscandal https://t.co/zuAPZfQDk3
RT @AlanLohner: The anti-American D.C. elites despise Trump for his America-first foreign policy. Trump threatens their gravy train. https:â€¦
RT @BIackPplTweets: Young Donald trump meets his neighbor  https://t.co/RFlu17Z1eE
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @HouseCracka: 29,000+ PEOPLE WATCHING TRUMP LIVE ON ONE STREAM!!!

https://t.co/7QCFz9ehNe
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @trumpresearch: @WaitingInBagdad @thehill Trump supporters have selective amnisia.
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  httpsâ€¦
RT @urfavandtrump: RT for Brendon Urie
Fav for Donald Trump https://t.co/PZ5vS94lOg
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @Pjw20161951: NO KIDDING: #SleazyDonald just attacked Scott Walker for NOT RAISING TAXES in WI! #LyinTrump
#NeverTrump  #CruzCrew  httpsâ€¦
RT @trapgrampa: This is how I see #Trump every time he speaks. https://t.co/fYSiHNS0nT
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearlyâ€¦
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET httpsâ€¦
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://â€¦
RT @paulbenedict7: How #Trump Sacks RINO Strongholds by Hitting Positions Held by Dems and GOP https://t.co/D7ulnAJhis   #tcot #PJNET httpsâ€¦
RT @DRUDGE_REPORT: VIDEO:  Trump emotional moment with Former Miss Wisconsin who has terminal illness... https://t.co/qt06aG9inT
RT @DennisApgar: Thank God I seen Trump at first stop in Wisconsin media doesn't know how great he is, advice watch live streaming https://â€¦
RT @mitchellvii: So let me get this straight.  Any reporter can assault Mr Trump at any time and Corey can do nothing?  Michelle is clearlyâ€¦
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9Nâ€¦
RT @Norsu2: Nightmare WI poll for Ted Cruz has Kasich surging: Trump 29, Kasich 27, Cruz 25. https://t.co/lJsgbLYY1P #NeverTrump
RT @thehill: WATCH: Protester pepper-sprayed point blank at Trump rally https://t.co/B5f65Al9ld https://t.co/skAfByXuQc
RT @sciam: Trump's idiosyncratic patterns of speech are why people tend either to love or hate him https://t.co/QXwquVgs3c https://t.co/P9Nâ€¦
RT @ggreenwald: The media spent all day claiming @SusanSarandon said she might vote for Trump. A total fabrication, but whatever... https:/â€¦
RT @DebbieStout5: Wow! Last I checked it was just 12 points &amp; that wasn't more than a day ago. Oh boy Trump ppl might want to rethinkðŸ¤” httpâ€¦
RT @tyleroakley: i'm a messy bitch, but at least i'm not voting for trump
RT @vandives: Trump supporters r tired of justice NOT being served. There's no justice anymore. Hardworking Americans get screwed. That's nâ€¦
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @AP: BREAKING: Trump vows to stand by campaign manager charged with battery, says he does not discard people.
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @urfavandtrump: RT for Jerrie (Little Mix)
Fav for Donald Trump https://t.co/nEVxElW6iG
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNNâ€¦
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will nâ€¦
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @NoahCRothman: When Walker was fighting for reforms, Trump was defending unions and collective bargaining privileges https://t.co/e1UWNNâ€¦
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:â€¦
RT @AIIAmericanGirI: VIDEO=&gt; Anti-Trump Protester SLUGS Elderly Trump Supporter in the Face
https://t.co/GeEryMDuDY
RT @RedheadAndRight: Report: Secret Service Says Michelle Fields Touched Trump https://t.co/c5c2sD8VO2

This is the only article you will nâ€¦
RT @JusticeRanger1: @realDonaldTrump @Pudingtane @DanScavino @GOP @infowars @EricTrump
URGENT PUBLIC TRUMP ALERT:
COVERT KILL MEANS https:â€¦
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation Pâ€¦
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educatâ€¦
RT @Schneider_CM: Trump says nobody had ever heard of executive orders before Obama started signing them. Never heard of the Emancipation Pâ€¦
RT @DonaldsAngel: Former Ms. WI just said that she is terminally ill but because of Trump pageant, her 7 yr. old son has his college educatâ€¦
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @Tâ€¦
RT @RonBasler1: @DavidWhitDennis @realDonaldTrump @tedcruz

CRUZ SCREWS HOOKERS

CRUZ / CLINTON
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/â€¦
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnâ€™t come out of nowhere." â€”Hillary
httpsâ€¦
RT @Dodarey: @DR8801 @SykesCharlie Charlie, let's see you get a straight "yes" or "no" answer from Cruz a/b being unfaithful to his wife @Tâ€¦
RT @HillaryClinton: "Every day, another Republican bemoans the rise of Donald Trump... but [he] didnâ€™t come out of nowhere." â€”Hillary
httpsâ€¦
RT @RockCliffOne: Remember when the idea of a diabolical moron holding the world hostage was an idea for a funny movie? #Trump #GOP https:/â€¦
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating tâ€¦
RT @immigrant4trump: @immigrant4trump msm, cable news attacking trump all day, from 8am to 10pm today, then the reruns come on, repeating tâ€¦
RT @GlendaJazzey: Donald Trumpâ€™s Campaign Financing Dodge, @rrotunda https://t.co/L8flI4lswG via @VerdictJustia
RT @TUSK81: LOUDER FOR THE PEOPLE IN THE BACK https://t.co/hlPVyNLXzx
RT @loopzoop: Well...put it back https://t.co/8Yb7BDT5VM
RT @claytoncubitt: Stop asking Bernie supporters if theyâ€™ll vote for Hillary against Trump. We got a plan to beat Trump already. Called Berâ€¦
RT @akaMaude13: Seriously can't make this up. What a joke. #NeverTrump  https://t.co/JkTx6mdRgC

In [273]:
# Define count_entries()
def count_entries(df,col_name):
    col_count = {}
    try:
        col = df[col_name]
        for entry in col:
            if entry in col_count.keys():
                col_count[entry] +=1
            else:
                col_count[entry] =1
        return col_count
    except:
        print('The DataFrame does not have a ' + col_name + ' column.')

In [274]:
result1 = count_entries(df,'lang')
result1

{'en': 97, 'et': 1, 'und': 2}

In [275]:
result2 = count_entries(df,'lang1')
result2

The DataFrame does not have a lang1 column.

In [276]:
#filter with lambda
# Program to filter out only the even items from a list

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x : x%2==0,my_list))

print(new_list)

[4, 6, 8, 12]